<div class="container-fluid">
  <div id="invitation-container" class="well">
    <h4>欢迎参加刘风云和王银爱的婚礼！</h4>
    <p>
      <i class="icon-time"></i>
      2013-5-1
    </p>
    <p>
      <i class="icon-map-marker"></i>
      金玉堂大酒店
    </p>
    <p>
      <i class="icon-signal"></i>
      1381381382
    </p>
    <p>
      <i class="icon-envelope"></i>
      me@gmail.com
    </p>
  </div>
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://static.91wedding.com/photos/wedding/025.jpg" class="cover-image"/>
      </div>
      <div class="item">
        <img src="http://static.91wedding.com/photos/wedding/049.jpg" class="cover-image"/>
      </div>
      <div class="item">
        <img src="http://static.91wedding.com/photos/wedding/074.jpg" class="cover-image"/>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>