<div class='navigation'>
  <div class='container'>
    <div class='menu'>
      <a href="#home" class="pull-left" id="logo">
        刘风云
        <img src="/images/two-hearts.png">
        王银爱
      </a>
      {% include music.html %}
      <ul class="pull-right">
        <li>
          <a href='#story'>我们的故事</a>
        </li>
        <li>
          <a href='#photos'>照片</a>
        </li>
        <li>
          <a href='#rsvp'>婚礼</a>
        </li>
        <li>
          <a href='#map'>地图</a>
        </li>
        <li>
          <a href='#comments'>祝福</a>
        </li>
      </ul>
    </div>
  </div>
</div>
