<span id="rsvp">&nbsp;</span>

<section>
  <h1 class="sect-head bg-red">婚礼</h1>
  <div class="container">
    <div class="row">
      <div class="span6">
        <h2>婚礼</h2>
        <p>
          <i class="icon-time"></i>
          2013年10月20日
        </p>
        <p>
          <i class="icon-map-marker"></i>
          南京市金港小镇
        </p>
        <p>
          <i class="icon-signal"></i>
          13814171931
        </p>
        <p>
          <i class="icon-envelope"></i>
          liufengyunchina@gmail.com
        </p>
        <br/>
        {% include rsvp.html %}
      </div>
      <div class="span6">
        <img id="wedding_img" src="http://assets.91wedding.com/2/bucket/047.jpg" />
      </div>
    </div>
  </div>
</section>